@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin-ext");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  border-left: 2rem solid #2f3640;
  border-right: 2rem solid #2f3640;
  margin: 3rem;
  box-shadow: 0.2rem 0.6rem 1rem rgba(0, 0, 0, 0.4); }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

.heading-1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: #0084b4; }
  .heading-1--main {
    font-weight: 300;
    letter-spacing: 2px; }
  .heading-1--sub {
    font-weight: 700;
    letter-spacing: 1px; }

.heading-2 {
  color: #eee;
  font-weight: 300; }

.heading-3 {
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 1rem;
  color: #0084b4; }

.u-margin-top-big {
  margin-top: 6rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.btn {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: #00aced;
  color: #fff;
  font-weight: 300;
  border: none;
  outline: none; }
  .btn:hover {
    cursor: pointer; }
  .btn--secondary {
    background-color: #2f3640;
    color: #fff;
    margin-top: 1rem;
    padding: .4rem 1rem;
    font-size: 1.8rem; }

.user__photo {
  border-radius: 50%;
  height: 7rem; }

.user__name {
  margin-top: 1rem;
  font-size: 2.2rem;
  color: #2f3640; }
  .user__name--display {
    font-weight: 400; }
  .user__name--login {
    display: block;
    font-weight: 300; }

.user__box {
  max-width: 90rem;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-gap: 2rem; }

.user__form {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.user__input {
  font-size: 18px;
  font-weight: 300;
  outline: none;
  padding: 1rem; }

.list {
  list-style: none;
  margin-top: 1rem; }
  .list__header {
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 1rem;
    color: #0084b4; }
  .list__item {
    padding: .4rem;
    font-size: 1.6rem; }
    .list__item:not(:last-of-type) {
      border-bottom: 1px solid #00aced; }

.header {
  text-align: center;
  background-color: #2f3640;
  padding: 3rem; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: calc(100vh - 34.1rem);
  background-color: #dee5ed; }

.footer {
  background-color: #2f3640;
  color: #eee;
  text-align: center;
  padding: 3.5rem; }
  .footer__copy {
    font-size: 1.8rem;
    font-weight: 300;
    color: #eee; }
  .footer__link {
    text-decoration: none;
    color: #0084b4; }
    .footer__link:hover {
      cursor: pointer; }
